<h4>ジャンル一覧・追加</h4>
 <h4>ジャンル名</h4>
   <%= form_with model:@genre_new, url: admin_genres_path do |f| %> 
    <%= f.text_field :name %>
    <%= f.submit '新規登録' %>
   <% end %>
    <table>
     <thead>
       <tr>
         <th>ジャンル</th>
         <th colspan="1"></th>
       </tr>
       <tbody>
         <% @genres.each do |genre| %>
         <tr>
           <th><%= genre.name %></th>
           <th><%= link_to edit_admin_genre_path(@genre) do %> 編集する</th>
         </tr>
         <% end %>
       </tbody>
     </thead>
    </table>
 